In [1]:
x = 20

In [2]:
x = "Hello world"

[1000, 2, 3, 4, 5]

In [15]:
string_list = ["Hello", "world", "this", "is", "a", "list", "of", "strings"]

new_string = " ".join(string_list)
print(new_string)

Hello world this is a list of strings

In [17]:
string  = "Hello world this is a string"

string.partition("world")

('Hello ', 'world', ' this is a string')

In [21]:
l1 = [1, 2, 3, 4, 5]
l2 = [1,2,3,4,5]

l1.insert(2, 10)
print(l1)

[1, 2, 10, 3, 4, 5]

In [22]:
unsorted_list = [5, 3, 1, 2, 4]
unsorted_list.sort()
print(unsorted_list)

[1, 2, 3, 4, 5]

In [25]:
l1 = [1, 2, 3, 4, 5,3,5,6,7]
# l1.remove(3)
# print(l1)

In [26]:
l1.reverse()

In [27]:
print(l1)

[7, 6, 5, 3, 5, 4, 3, 2, 1]

In [28]:
l1 = [1,2,3,4,5,6]
l2 = l1
l1[0] = 1000

print(l2)

[1000, 2, 3, 4, 5, 6]

In [31]:
l1 = [1,2,3,4,5,6]
l3 = l1.copy()
print(l3)

l1[0] = 1000
print(l3)
print(l1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1000, 2, 3, 4, 5, 6]

In [32]:
lst = (1,2,3,4,5,6,7,8,9,10)
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [45]:
dictionary = {
    "name": "Saksham",
    "age": 30,
    "city": "New York"
}

for i in dictionary:
    print(dictionary[i])

Saksham
30
New York

In [53]:
dictionary.values()

dict_values(['Saksham', 30, 'New York', 'ludhiana'])

In [51]:
dictionary2 = {
    "address": "ludhiana"
}

dictionary.update(dictionary2)

In [52]:
print(dictionary)

{'name': 'Saksham', 'age': 30, 'city': 'New York', 'address': 'ludhiana'}